@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
html{
    font-size: 16px;
}
body{
    color: aliceblue;
    font-family: Alice;
    background-color: black;
}
li{
    font-size: 2.5rem;
}
p{
    font-size: 1.5rem;
    line-height: 1.4;

}
h1{
    text-transform: uppercase;
}
.container{
    width: 90vw;
    margin: 0 auto;
}
header{
    background-color: grey;
    color: aliceblue;
    padding: 5rem;
    margin: 2rem;
    background-image: url("image/bread.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
ul{
    font-size: 10px ;
}
