p{
    font-size: 18px;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    background-color: lightpink;
}
footer{
    background-color: lightpink;
}
h1{
    color: darkblue;
}
#my-image img{
    box-shadow: 0,2px,1px black;
}
li:nth-child(odd){
    background-color: violet;
}